.hello{
    width: 100%;
    height: 100%;
    /* background: pink ; */
}
.home_wrap{
    width: 100%;
    /* background: white; */
    background: #F9F9F9;
}
.headers{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex; */
   
    
    background: #F8F8F8;
}
.header_bar{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    display: flex;
    /* margin: 0 auto; */
    /* background-color:pink;    */
    font-size: 18px;
     margin: 0 auto;
    justify-content: space-between;

}
.header_li{
   
    height: 40px;
    line-height: 40px;
    display: flex;
}
.heder_right{
    display: flex;
     /* width: 250px; */
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    justify-content: space-between;
}
.headerLoginSearch{
    width: 100%;
    background: white;
}
.header_logo_search_con{
    display: flex;
    width: 1200px;
    height: 63px;
    margin: 0 auto;
    justify-content: space-between;
}
.header_logo{
    display: flex;
    margin-top: 18px;

}
.header_Logimg{
 width: 227.5px;
 height: 44px;
 margin-right: 20px;
}
.heder_logo_logon{
    width: 349px;
    height: 26px;
    margin-top: 9px;
}
.header_Search{
    width: 534px;
    margin-top: 17px;
    justify-content: space-between;
    height: 46px;
    /* background: pink; */
    display: flex;
}
.header_Search_box{
    width: 450px;
    height: 45px;
    background: #f8f8f8;
    border-radius: 23px;
    border:3px solid #BF2B2A;
    text-indent: 20px;
    display: flex;



}

 .header_search_box_type .el-input__inner {
  
    width: 80px;
    background: #f8f8f8;
    /* position: absolute;
    top: 1px;
    left: 18px; */
    border: none; /* 移除边框 */
    box-shadow: none; /* 移除聚焦时的阴影（可选） */
    font-size: 14px;
    color: #444;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    /* display: inline-block; */

}
.header_search_box_type .el-input__inner::placeholder{
    color: #444;
}
 .el-scrollbar__wrap{
    border: #BF2B2A 3px solid;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    margin-right: 0;
    margin-bottom: 0;
}
 .el-popper{
    /* margin:0;
    padding: 0; */
    margin-top: 1px !important;
}


.header_search_input{
    width: 300px;
    height: 42px;
    border: none;
    outline: none;
    font-size: 18px;
}
.header_search_input::placeholder{
    font-size: 14px;
    color: #444;
}
.header_btn_box{
    /* width: 100px; */
    height: 40px;
    background: #BF2B2A;
    border-radius: 23px;
    margin-top: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.header_btn_box img{
    width: 18px;
    height: 18px;
    margin: 11px 0px 0 7px;
}
.header_btn_box span{
    width: 60px;
    height: 38px;
    color: #fff;
    line-height: 38px;
    text-align: left;
    margin-right: 12px;
    font-size: 20px;
    display: inline-block;
}
.header_btn_box_text{
    /* width: 80px; */
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    color: #222;
    cursor: pointer;

}
.header_nav{
    width: 100%;
    background: white;

}
.header_nav_con{
    width: 1200px;
    height: 78px;
    background: white;
    margin: 0 auto;
    padding-top: 37px;
    display: flex;
     justify-content: space-between;

   



}
.header_nav_con ul{
    width: 1200px;
    height: 100%;
    display: flex;

     justify-content: space-between;
     margin: 0;
     padding: 0;

}
.header_nav_con ul li{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;


}
.header_nav_con ul li:hover{
    color: #BF2B2A;
    cursor: pointer;
}
.home_banner{
    width: 100%;
    margin-bottom: 30px;
}
.banner_box{
    width: 100%;
    height: 420px;
    background: pink;
}
.banner_box_img{
    width: 100%;
    height: 420px;
}
.swiper-button-prev{
    margin-top: 50px;
    /* background: #444; */
}
.swiper-button-next{
    margin-top: 50px;
}
.swiper-pagination .swiper-pagination-bullet{
    text-align: center;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    left: 550px;
     /* background: rgba(255,255,255,0.1) */
    /* background-color: transparent; */
    /* background: white; */

}
.swiper-pagination  .swiper-pagination-bullet-active{
     background: rgba(255,255,255,0.1)
    
}
.home_con{
    /* width: 100%; */
    width:1200px ;
    margin: 0 auto;
    margin-top: 20px;

  
}
.home_content{
   width: 100%;
   background: #F9F9F9;

}
.con_text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.special_feature{
    width: 820px;
    height: 263px;
    padding: 20px 10px 0 10px;
    background: white;
    box-sizing: border-box;
}
.special_feature_top{
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    background: white;
}
.special_feature_top_left{
    height: 28px;
    font-size: 20px;
    line-height: 28px;
    color: #222;
    font-weight: bold;
}
.special_feature_top_right{
    width: 74px;
    margin-top: 4px;
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}
.special_feature_top_right_txt{
    height: 20px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
.special_feature_top_right img{
    width: 8px;
    height: 14px;
    margin-top: 3px;
}
.special_feature_btn_left {
    width: 24px;
    height: 24px;
    display: flex;
    margin-top: 51px;
    cursor: pointer;
}
.special_feature_btn_left img{
    width: 100%;
    height: 100%;
}
.special_feature_center{
    width: 737px;
    display: flex;
    
}
.special_feature_center_li{
    width: 168px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    /* margin: 0; */
    /* padding: 0; */
}
.book-img{
    width: 100%;
    height: 126px;

}
.book-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;

}


.book-title{
    width: 100%;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: #222;
    margin-top: 12px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    word-wrap:break-word;
    white-space:normal !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* 显示2行 */


}
.spccial_con{
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.hot_area{
    width: 360px;
    height: 263px;
    background:#FFFFFF;
    box-sizing: border-box;
    /* display: flex; */
}
.book-resource{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: black;
    margin-top: 7px;

}
.special_feature_center_li > :empty {
  display: none;
}
.hot_area_top{
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 15px;
}
.hot_area_top_li{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #444;
    background: #f3f3f3;
    cursor: pointer;
}
.hot_area_top_li.active {
  color: #222; /* 激活态红色高亮 */
  border-top:2px solid #BF2B2A;
  font-weight: bold;
  background: white !important;
  font-size: 18px;
}
.hot_area_con{
    width: 100%;
    padding: 0 10px;
}
.hot_area_news{
    width: 100%;
    height: 140px;
    margin: 0;
    padding: 0;
}
.hot_area_li{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
    cursor: pointer;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
    white-space: normal !important;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;

}
.hot_area_li_span{
    width: 10px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    display: inline-block;
}
.hot_area_btn{
    width: 160px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 19px;
    border: 1px solid #E7E7E7;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;

}
.hot_area_btn:hover{
    background: #BF2B2A;
    color: #fff;
}
.book_con{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
   
    
}
.book_area{
    width: 820px;
    height: 830px;
    padding: 20px;
    background: white;
 
    box-sizing: border-box;

   

}
.book_area_top{
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
}
.book_area_left{
    height: 28px;
    display: flex;
}
.book_area_left_title{
    min-width: 40px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
    color: #222;
    font-weight: bold;
    margin-right: 20px;
}
.book_area_top_tab{
    height: 28px;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 900px; */
}
.book_area_top_tab_li{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 14px;

}
.book_area_right{
    width: 74px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}
.book_area_right_text{
    height: 20px;
    font-size: 14px;
    color: #666;
    line-height: 20px;

}
.book_area_right img{
    width: 8px;
    height: 14px;
    margin-top: 3px;
}
.book_area_con{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4px;
    box-sizing: border-box;
}
.book_area_con_li{
    width: 180px;
    background: #f6f6f6;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.book_area_con_li:hover{
      /* border: 1px solid #e0e0e0; */
  /* 阴影：水平0 垂直2px 模糊8px 扩散0 黑色半透明 */
  box-shadow:  0 2px 8px rgba(0, 0, 0, 0.2);
}

.book_area_con_li_img{
    width: 180px;
    height: 230px;
    background: #f6f6f6;
    padding-top: 10px;
    border-radius: 10px;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.book_area_con_li_img img{
    max-width: 160px;
    max-height: 190px;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    margin: auto;
    padding:0;
}
.book_area_con_li_title{
    width: 100%;
    height: 44px;
    padding-left: 10px;
    font-size: 15px;
    color: #222;
    line-height: 22px;
    margin-bottom: 5px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    box-sizing: border-box;


}
.book_area_con_li_author{
    width: 100%;
    height: 20px;
    padding-left: 10px;
    font-size: 12px;
    color: #222;
    line-height: 22px;
    margin-bottom: 5px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    box-sizing: border-box;
}
.book_area_con_li_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: 700;
    width: 100%;
    height: 22px;
    font-size: 16px;
    color: #BF2B2A;
    line-height: 22px;
    margin-bottom: 20px;

}
.ranking_list{
    width: 360px;
    height: 830px;
    background: white;
    margin-top: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* display: flex; */
    box-sizing: border-box;
}
.ranking_list_top{
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #222;
    font-size: 20px;
    font-weight: bold;
   
    padding: 20px;
}
.ranking_list_top_tab{
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 15px; */
     box-sizing: border-box;
    padding: 0 20px;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,miui,Hiragino Sans GB,Microsoft Yahei,sans-serif;
}
.ranking_list_top_tab_li{
    height: 22px;
    line-height: 22px;
    font-size: 16px !important;
    color: #444;
    position: relative;
    cursor: pointer;
  
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}
.ranking_list_top_tab_li.active {
  /* color: red; */
    font-size: 16px;

    font-weight: bold;
  border-bottom: 2px solid #BF2B2A;
}
.rankingList_con{
    width: 100%;
    margin-top: 15px;
    padding: 0 10px;
 }
 .rankingList_con li{
      list-style-type: lower-alpha;;
    display: flex;
    margin-bottom: 8px;
    box-sizing: border-box;
 }
 .item-img img{
    width: 67.5px;
    height: 94.5px;
    margin-right: 10px;
    margin-top: 6px;
    object-fit: cover;
 }
 .item-info{
    box-sizing: border-box;
    /* width: 234px; */
    margin-top: 7px;

 }
 .item_right_box{
    width: 234px;
    margin-top: 6px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .item-name{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    /* color: #BF2B2A; */
    /* font-weight: bold; */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;

 }
 .item-price{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    color: #BF2B2A; 
    margin-top: 5px;
 }
 .item_title{
    width: 234px;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #BF2B2A;
    font-weight: bold;
     display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    box-sizing: border-box;
 }
 .item_price{
    margin-top: 30px;
 }
 .rankingList_tag{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #444;
    margin-right: 10px;
    margin-top: 8px;
 }
 .rankingList_bg1{
    width: 18px;
    height: 30px;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 30px;
    background: url(../../static/img/bg1.png) 100% 100%;
 }
  .rankingList_bg2{
    width: 18px;
    height: 30px;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 30px;
    background: url(../../static/img/bg2.png) 100% 100%;
 }
  .rankingList_bg3{
    width: 18px;
    height: 30px;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 30px;
    background: url(../../static/img/bg3.png) 100% 100%;
 }